.btn-yours {
  background-color: rgb(216, 148, 21);
  color: white;
  font-weight: bolder;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.btn-yours:hover {
  background-color: white;
  color: rgb(216, 148, 21);
  border: 1px solid rgb(201, 139, 24);
}
